body {
    background-color: rgb(252, 182, 102);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.header {
    color: black;
    font-size: 30px;
}
#awesome {
    color: royalblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}